<div class="table-footer-group">
    <div>
        <h2 class="mt-6 text-center text-l font-bold text-gray-900">If you suspect human trafficking or want learn more:</h2>
    
        <a href="https://humantraffickinghotline.org/" class="underline">National Human Trafficking Hotline</a><br>
        <a href="https://www.ice.gov/features/human-trafficking" class="underline">Department of Immigration and Control</a><br>
        <a href="https://www.dhs.gov/blue-campaign" class="underline">Department of Homeland Security</a><br>

    </div>
</div>