.hotline {
    background-color: rgb(89, 114, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  #hotline {
    text-align: center;
    position: sticky;
    padding: 20px 10px 10px 20px;
    width: 100%;
    /* Height of the hotline*/ 
    height: 150px;
    background: grey;

  }
  
  /* Change the color of links on hover */
  .hotline .hover {
    background-color: silver;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .hotline .active {
    background-color: silver;
    color: white;
  } 
