<!-- Example form from https://angular.io/guide/reactive-forms
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
  
  </form>

  <p>Complete the form to enable button.</p>
  
  <p>Form Status: {{ profileForm.status }}</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
