<form (ngSubmit)="createNewOrganization()">
    <h2>
        Signup Below!
    </h2>
    <input placeholder="ContactName" name="ContactName" [(ngModel)]="newOrganization.ContactName">
    <input placeholder="OrganizationName" name="OrganizationName" [(ngModel)]="newOrganization.OrganizationName" >
    <input placeholder="Username" name="Username" [(ngModel)]="newOrganization.Username">
    <input placeholder="Password" name="Password" type="password" [(ngModel)]="newOrganization.Password">
    <input placeholder="BusinessURL" name="BusinessURL" [(ngModel)]="newOrganization.BusinessURL">
    <input placeholder="Email" name="Email" [(ngModel)]="newOrganization.Email">
    <input placeholder="ZipCode" name="ZipCode" [(ngModel)]="newOrganization.ZipCode">
    <button type="submit">submit</button>
</form>
