<form (ngSubmit)="createTestimony()">
    <div><input name="Title" type="text" [(ngModel)]="newTestimony.Title"></div>
    <div><input name="Synopsis" type="text" [(ngModel)]="newTestimony.Synopsis"></div>
    <div><input name="Body" type="text" [(ngModel)]="newTestimony.Body"></div>
    <button type="submit">Submit</button>
</form>
<div *ngFor= "let test of listoftestimonies">
    <p>{{test.Title}}. {{test.Body}}</p>
    <p>{{test.Synopsis}}</p>
</div>
<div >
   <p> {{profile.OrganizationName}}</p>
    <p>{{profile.ContactName}}</p>
    <p>{{profile.Username}}</p>
</div>
<button (click)="logout()"></button>
