<form>
    <div>
        <input name="title" type="text" placeholder="Name">
    </div>
    <div>
        <textarea name="synopsis" rows="5" cols="50">Synopsis</textarea>
    </div>
    <div>
        <textarea name="story" rows="30" cols="50">Full Story</textarea>
    </div>
    <div>
        <button type="submit">Post</button>
    </div>
</form>
<div *ngFor= "let test of listoftestimonies">
    <p>{{test.Title}}. {{test.Body}}</p>
    <p>{{test.Synopsis}}</p>
</div>
<div >
   <p> {{profile.OrganizationName}}</p>
    <p>{{profile.ContactName}}</p>
    <p>{{profile.Username}}</p>
</div>
<button (click)="logout()"></button>
