<div class="card text-center">
<mat-card>
    <h2 class="mt-6 text-center text-2xl font-bold text-gray-900">How you can help prevent Human Trafficking</h2>
    <mat-card-content>
        <ul>
            <li>Buy Fair Trade items </li>
            <li>Volunteer at a local organization </li>
            <li>Use Social Media to help spread awareness</li>
            <li>Know the indicators of Human Trafficking and share this information</li>
            <li>Consider becoming a Foster Parent</li>
        </ul>
    </mat-card-content>
</mat-card>
</div>
