<mat-card>
    <mat-card-title>Warning Signs of Human Trafficking</mat-card-title>
    <mat-card-content>
        <ul>
            <li>Someone who lives where they work, and is accompanied by someone else anytime they leave</li>
            <li>Someone not in control of their passport</li>
            <li>Someone with very little personal possesions</li>
            <li>Someone who doesn't speak the native language, and always has someone else speak for them</li>
            <li>Peole in the commercial sex industry are most vulnerable</li>
        </ul>
    </mat-card-content>
</mat-card>
