<div id="register-container" class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-20">
      <div class="md:col-span-1">
          <div class="px-4 sm:px-2">

<div class="flex flex-col-reverse flex-grow"></div>

<div *ngFor="let bannanas of listOfBusinesses">
  
    <label>Name:{{ bannanas.OrganizationName }}</label>
   <p>Testimony:{{ bannanas.ContactName }}</p>
    <p>Body: {{ bannanas.BusinessId }}</p> 

    <div *ngFor="let t of bannanas.Testimonials">
       <p>{{t.Title}}</p>
       <p>{{t.Synopsis}}</p>
       <p>{{t.Body}}</p>
    </div>
  
</div>




