<h1>Organizations</h1>
<div *ngFor="let list of listOfBusinesses">
  <div>
    <p>{{ list.BusinessId }}. {{ list.OrganizationName }}</p>
    <button (click)="deleteOrganization(list.BusinessId)">
      Delete Business
    </button>
  </div>
  <div *ngFor="let t of list.Testimonials">
    <p>Testimony Id:{{ t.testimonyId }}</p>
    <p>Testimony Title:{{ t.Title }}</p>
    <p>Testimony Body:{{ t.Body }}</p>
    <button class="btn btn-success" (click)="approveTestimony(t.testimonyId)">
      Approve
    </button>

    <button class="btn btn-primary" (click)="denyTestimony(t.testimonyId)">
      Deny
    </button>

    <button class="btn btn-danger" (click)="deleteTestimony(t.testimonyId)">
      Delete
    </button>
  </div>
</div>

<div *ngFor="let a of listofApprovedTestimonies">
  Approved Testimonies:
  <p>Testimony Id:{{ a.testimonyId }}</p>
  <p>Testimony Title: {{ a.Title }}</p>
  <p>Testimony Body: {{ a.Body }}</p>
</div>
<div *ngFor="let dec of listofDeclinedTestimonies">
  Declined Testimonies:
  <p>Testimony Id:{{ dec.testimonyId }}</p>
  <p>Testimony Title: {{ dec.Title }}</p>
  <p>Testimony Body: {{ dec.Body }}</p>
</div>
<div *ngFor="let del of listofDeletedTestimonies">
  Deleted Testimonies:
  <p>Testimony Id:{{ del.testimonyId }}</p>
  <p>Testimony Title: {{ del.Title }}</p>
  <p>Testimony Body: {{ del.Body }}</p>
</div>
<button class="btn btn-primary" (click)="logout()">Sign Out</button>
