<div class="container-fluid">
<h2>Human Trafficking </h2>
<p>We are here to fight against the darkest parts of humanity. The buying and selling of humankind has gone on for thousands of years, but we are here to raise a voice, to help spread awareness, to share stories of those who have been rescued from those dark places. We are here to connect you to local organizations that are fighting and resucing.</p>
    <h3> Will you join us? Will you stand with us and push back against the darkest parts of our world? You can, we are here to help you.</h3>
</div>

