<div class="container-fluid">
    <h3>Current Statistics of Human Trafficking</h3>
    <ul>
        <li>
            Forced labor was imposed on 24% of victims in North America Alone
        </li>
        <li>
            Worldwide there are approximatly 4.8 million sex trefficked victims
        </li>
        <li>
            Less than 8000 traffickers were convicted in 2018
        </li>
        <li>
            India is the global leader in trafficking, with approximatly 14 million victims
        </li>
        <li>
            While Texas leads the US with the most trafficking offenses committed in 2018
        </li>
        <li>
            One in six child runaways is most likely a victim of hchild sex trafficking
        </li>
    </ul>
    
</div>

