<div class="card text-center">
    <mat-card>
        <h2 class="mt-6 text-center text-2xl font-bold text-gray-900">Current Statistics of Human Trafficking</h2>
        <mat-card-content>
            <ul>
                <li>
            In 2018 Forced labor was imposed on 24% of victims in North America Alone
                </li>
                <li>
            Worldwide there are approximatly 4.8 million sex trefficked victims
                </li>
                <li>
            Less than 8000 traffickers were convicted in 2018
                </li>
                <li>
            India is the global leader in trafficking, with approximatly 14 million victims
                </li>
                <li>
            Texas leads the United States with the most trafficking offenses committed in 2018
                </li>
                <li>
            One in six child runaways is most likely a victim of child sex trafficking
                </li>
            </ul>
        </mat-card-content>
    </mat-card>            
    
</div>

