.card {
    background: linear-gradient(210deg, #98fb98, #20b2aa);
    columns: 80px 1;
    margin:3em;
    border: 1px solid goldenrod;
    box-shadow: 0 25px 25px 0 cornsilk;
    border-radius: 1em;
    padding: 1.1em;
    transition: transform 100ms box-shadow 100ms;
}


